{% extends "base.html" %}
{% load static %}

{% block title %}My Recommendation List{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h2>Recommendation List </h2><br>
        <ul style="list-style-type: none;">
            {% if object_list %}
                <div class="container">
                {% for data in object_list %} <!-- Last Recommendation -->
                      <li>
                          <b>Method:</b> {{ data.method }} - <b>Count:</b> {{ data.count }} - <b>Recommends:</b>
                          {% for key, value in data.recommends.items %}
                              {{ value }}
                          {% endfor %}
                      </li>
                      <hr>
                  {% endfor %}
            {% else %}
                    <li>There are no recommendation for your account.</li>
                </div>
            {% endif %}
        </ul>
        <a href="{% url "recommendations:create" %}" class="btn btn-danger"> Create Recommendation</a>

    </div>
  </div>

</div>
{% endblock content %}
